@import url("https://use.typekit.net/tmp4lat.css");
@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:100,400&display=swap");


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  /*background: rgb(255, 251, 245);*/
}

h4, p {
	font-size: 14px;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

header {
	z-index: 1;
}

.navbar {
  margin: 0 auto;
  width: 95%;
	z-index: 1;
}

.navbar, .myForm {
  background-color: #fff!important;
	width: 100%;
}

.navbar-brand {
  font-family: utopia-std-headline, serif;
  font-size: 25px;
  font-weight: 400;
}

.nav-link {
  font-size: 12px;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

.text {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	color: black;
}

.hero-title {
	font-family:  utopia-std-headline, serif;
	color: #fff;
}

.wrapper {
	display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 145%;
}

/*Hides default browser radio button*/
.wrapper input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.3rem;
  width: 1.3rem;
  border: 1px solid #dadada;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.wrapper:hover input ~ .checkmark {
  background-color: #dadada;
}

/* When the checkbox is checked, add a green background */
.wrapper input:checked ~ .checkmark {
  background-color: #4a9134;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.wrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.wrapper .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

<<<<<<< HEAD
@media(max-width: 768px;) {

	.eeText{
		text-align: center;
	}
=======
/*Home Images and About Summary text*/

.eeEasyStepsSectionBody{
	display: table;
	border-spacing: 0px 0px;
	width: 80%;
	margin: auto;
}

.eeRow{
	display: table-row;
}

.eeLeft {
	width: 50%;
	vertical-align: middle;
	text-align: left;
}

.eeRight{
	width: 50%;
	vertical-align: middle;
	text-align: right;
}

.eeCell {
	display: table-cell;
	width: 60%;
	vertical-align: middle;
}

.eeTitle {
	font-size: 25px;
}

.eeText {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	margin-bottom: 20px;
	color: #6a6d75;
	line-height: 150%;
}

.image {
	width: 32rem;
	height: 25rem;
}

@media (max-width: 768px) {

 	.eeEasyStepsSectionBody{
	 display: block;
	 border-spacing: 0px 0px;
	 width: 80%;
	 margin: 0 auto;
 }

 .eeRow {
	 display: block;
	 text-align: center;
 }

	.eeRowReversed {
		display: flex;
		flex-direction: column;
	}
/*Basketball player picture switches place wih text*/
	.eeRowReversed .eeRight {
		order: 1;
		-webkit-order: 1;
		display: block;
		width: 100%!important;
		text-align: center!important;
		vertical-align: middle;
	}

	.eeRowReversed .eeCell {
		order: 2;
		-webkit-order: 2;
	}

	.eeCell {
		display: block;
		width: 100%!important;
		text-align: center!important;
		vertical-align: middle;
	}

	.image {
		width: 22rem;
		height: 17rem;
	}

	.eeTitle {
		font-size: 25px;
	}

	.eeText {
		font-family: 'Roboto', sans-serif;
		font-size: 22px;
		margin-bottom: 20px;
		color: #6a6d75;
		line-height: 150%;
	}

}

@media (min-width: 962px) {

	.container {
		width: 940px;
		margin-right: auto;
		margin-left: auto;
	}

>>>>>>> eb6c401af0d319bd34454c8dcb965527f1005e8f
}
