@import url("https://use.typekit.net/tmp4lat.css");
@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:100,400&display=swap");



/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  /*background: rgb(255, 251, 245);*/
}

h4, p {
	font-size: 14px;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

header {
	z-index: 1;
}

.navbar {
  margin: 0 auto;
  width: 95%;
	z-index: 1;
}

.navbar, .myForm {
  background-color: #fff!important;
	width: 100%;
}

.navbar-brand {
  font-family: utopia-std-headline, serif;
  font-size: 25px;
  font-weight: 400;
}

.nav-link {
  font-size: 12px;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

.text {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	color: black;
}

.hero-title {
	font-family:  utopia-std-headline, serif;
	color: #fff;
}

.wrapper {
	display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 145%;
}

/*Hides default browser radio button*/
.wrapper input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.3rem;
  width: 1.3rem;
  border: 1px solid #dadada;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.wrapper:hover input ~ .checkmark {
  background-color: #dadada;
}

/* When the checkbox is checked, add a green background */
.wrapper input:checked ~ .checkmark {
  background-color: #4a9134;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.wrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.wrapper .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Food Cards*/
.card-deck {
	cursor: pointer;
}

/*NAVBAR SEARCH*/
.searchbar {
	width: 500px!important;
}

/*FOOTER*/
.footer {
	border: 1px solid #e4e6eb;
	background-color: #fff;
}

.footer #footer-content {
	padding-top: 30px;
}

 .footer .middle-spacer{
	 height: 125px;
 }

 .footer-newsletter-signup {
	 border-left: 1px solid #e4e6eb;
	 border-right: 1px solid #e4e6eb;
	 margin: 0px 30px;
 }

 .footer-title {
	 text-align: center;
	 font-family: 'Roboto', sans-serif;
	 text-transform: uppercase;
	 color: #303236;
	 letter-spacing: 1px;
	 font-size: 14px;
 }

 .socials {
	 list-style: none;
	 padding-top: 10px;
 }

 .socials li {
	 display: inline-block;
	 cursor: pointer;
 }

 .socials li i {
	 font-size: 25px;
	 margin: 15px;
	 color: #d1d1e0;
 }

 .footer-newsletter-form-hldr {
	 width: 330px;
	 margin: 0 auto;
	 text-align: center;
	 margin-bottom: 10px;
 }

 .subscribe-input{
	 border-radius: 4px 0 0 4px;
	 border: none;
	 box-shadow: inset 0 0 0 1px #e4e6eb;
	 padding: 10px 15px;
	 font-family: 'Roboto', sans-serif;
	 line-height: 20px;
	 background-color: #fff;
	 width: 275px;
	 float: left;
	 color: #303236;
 }

 .subscribe-btn {
	 border-radius: 0 4px 4px 0;
	 font-family: 'Roboto', sans-serif;
	 font-size: 15px;
	 text-transform: uppercase;
	 font-weight: bold;
	 color: #fff;
	 background-color: #4a9134;
	 padding: 10px 15px;
	 line-height: 20px;
	 float: left;
 }

 .subscribe-text {
	 clear: both;
 }

 .noodles {
	 border-radius: 4px;
 }

 .blog-preview {
	 margin: 0 auto;
	 width: 320px;
 }

 .blog-preview-text {
	 margin-left: 100px;
	 line-height: 1.5;
 }
