@import url("https://use.typekit.net/tmp4lat.css");
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:100,400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: rgb(255, 251, 245);
}

h4{
	font-size: 15px;
	font-weight: bold;
	color: #1202a6;
}

.nav {
  height: 50px;
  width: 100%;
  background: rgb(255, 251, 245);
  /*position: relative;*/
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.nav > .nav-header > .nav-title {
  font-family: utopia-std-headline, serif;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  margin-right: 25px;
}

.nav > .nav-header > .nav-title > span {
  color: #4a9134;
}

.nav > .nav-links {
  font-size: 18px;
  flex: 75%;
  z-index: 1;
  overflow-y: hidden;
}

.nav > .nav-links > .left > a,
.nav > .nav-links > .right > a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 13px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0,0,0,0.3);
}

.nav > .nav-btn {
  display: none;
}

.nav > #nav-check {
  display: none;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.container h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 50px;
}

.container > h1 > span {
  font-weight: bold;
  color: #D40F13;
}

/*FILTER*/
.filter-box {
  float: left;
}

.product-filter {
  /*border: 1px solid #000;
  border-radius: 5px;*/
  margin-right: 50px;
}

.product-filter > h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#filter-border {
  border-bottom: 2px solid #4a9134;
}

.product-category > h3 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.wrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 145%;
}

/*Hides default browser radio button*/
.wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox*/
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.3rem;
  width: 1.3rem;
  border: 1px solid #dadada;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.wrapper:hover input ~ .checkmark {
  background-color: none;
}

/* When the checkbox is checked, add a blue background */
.wrapper input:checked ~ .checkmark {
  background-color: #4a9134;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.wrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.wrapper .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter-box > #filter-check {
  display: none;
}

@media only screen and (max-width: 375px) {

  .sale {
    background-color: #4a9134;
    text-align: center;
    padding: 10px 20px;
    font-family:'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .container h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    margin: 50px;
  }

  .container > h1 > span {
    font-weight: bold;
    color: #D40F13;
  }

  footer {
    background-color:#4a9134;
  }

  .subscribe {
    padding: 20px;
  }

  .subscribe h2 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    padding: 20px 0px 20px 0px;
  }

  #email {
    border: none;
    padding: 10px 30px;
  }

  #submit {
    padding: 6px;
  }

  .footer-links {
    padding: 2.5rem;
  }

  .links {
    width: 100%;
  }

  .links a {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #fff;
    list-style: none;
    padding: 5px;
  }

}

@media only screen and (max-width: 600px) {

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 20px;
    cursor: pointer;
    margin-right: 20px;
    cursor: pointer;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover,.nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgb(255, 251, 245);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #777;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(255, 251, 245);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    left: 0px;
  }

  .nav > .nav-links > .left > a, .nav > .nav-links > .right > a {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 20px;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .sale {
    background-color: #4a9134;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    font-family:'Roboto', sans-serif;
    letter-spacing: 1px;
  }

  .filter-box {
    margin-bottom: 50px;
  }

  footer {
    background-color:#4a9134;
  }

  .subscribe {
    padding: 20px;
  }

  .subscribe h2 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    padding: 20px 0px 20px 0px;
  }

  #email {
    border: none;
    padding: 10px 30px;
  }

  #submit {
    padding: 6px;
  }

  .footer-links {
    padding: 2.5rem;
  }

  .links > a {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #fff;
    list-style: none;
    padding: 5px;
  }

  /*MOBILE FILTER*/
  .filter-box {
    float: none;
  }



}

@media only screen and (min-width: 600px) {

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sale {
    background-color: #4a9134;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    font-family:'Roboto', sans-serif;
    letter-spacing: 1px;
  }

  footer {
    background-color:#4a9134;
  }

  .content2 {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 5rem;
  }

  .subscribe {
    flex: 2;
    margin-right: 50px;
  }

  .subscribe h2 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
  }

  #email {
    border: none;
    padding: 10px 30px;
  }

  #submit {
    padding: 6px;
  }

  .links {
    flex: 1;
  }

  .links a {
    display: block;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 300;
    line-height: 130%;
    padding: 2px;
  }

}

@media only screen and (min-width: 768px) {

  .products {
    display: flex;
    flex-wrap: wrap;
  }

  .product-card {
    position: relative;
    display: flex;
  	flex-direction: column;
  	padding: 0%;
  	flex: 1 40%;
  	background-color: #FFF;
  	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
    margin: 0 2.5px 10px;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    overflow: hidden;
    cursor: pointer;
  }

  .product-image img{
    width: 100%;
  }

  .product-info {
    height: 65px;
    display: block;
    margin: 0;
    padding: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
  }

  .product-info h5 {
    font-size: 15px;
    font-weight: bold;
    color: #1202a6;
  }

  .content2 {
    margin: 0 auto;
    width: 70%;
  }

  .footer-links {
    display: flex;
    align-items: center;
  }

  .subscribe {
    flex: 2;
  }

  .links{
    flex: 1;
  }

}

@media only screen and (min-width: 956px) {

  .show {
    display: flex;
    flex-wrap: wrap;
  }

  .product-card {
    position: relative;
  	padding: 0%;
  	flex: 1 30%;
  	background-color: #FFF;
  	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
    margin: 0 1.5px 10px;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    overflow: hidden;
  }

  .product-image img {
    width: 100%;
  }

  .product-info {
    height: 65px;
    display: block;
    margin: 0;
    padding: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
  }

  .product-info h5 {
    font-size: 15px;
    font-weight: bold;
    color: #1202a6;
  }
}
